.green {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: green;
}

.yellow {
  align-self: basis;
  flex-grow: 1;
  font-weight: bold;
  background-color: yellow;
}

.greenFont {
  color: green;
  font-weight: bold;
}

.yellowFont {
  color: yellow;
  font-weight: bold;
}
